.container
  .offset-sm-3.col-sm-6
    = simple_form_for @post do |f|
      .form-group
        = f.input :title, input_html: {class: 'form-control'}, wrapper: false, label_html: {class: 'label'}
      .form-group
        = f.input :content, input_html: {class: 'form-control'}
      = f.button :submit, 'Create a new Post', class: 'btn btn-primary'
      